* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#layout {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./bg-img.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h1 {
    color: white;
    font-size: 26px;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-field {
    padding: 10px 18px;
    width: 450px;
    margin: 10px 0px;
    border-radius: 10px;
    border: none
}

#add-btn {
    padding: 16px 38px;
    background-color: #09af09;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#add-btn:hover {
    background-color: #078f07;
}

#add-btn:active {
    transform: scale(0.9);
}

#todo-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    width: 80%;
}

.todo {
    background-color: whitesmoke;
    padding: 10px 18px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
}

.todo h1 {
    color: black;
    margin-bottom: 10px;
    font-size: 22px;
}

.todo p {
    margin-bottom: 10px;
    font-size: 18px;
}

.todo button {
    margin-bottom: 10px;
    padding: 8px 15px;
    background-color: red;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.todo button:hover {
    background-color: rgb(210, 14, 14);
}

.todo button:active {
    transform: scale(0.9);
}